@import '../../assets/theme.less';
.itv-bg {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: 99;
    opacity: 1;
    transform: scale3d(1, 1, 1);
    transition: all 0.3s ease-in;
    &.itv-bg_hidden {
        opacity: 0;
        transform: scale3d(1, 1, 0)
    }
}

.itv-datepicker {
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: #fff;
    border-radius: 16rpx 16rpx 0 0;
    transition: transform 0.3s ease-in;
    &.picker_hidden{
        transform: translate3d(0,100%, 0);
    }
    .itv-datepicker-title {
        display: flex;
        height: 100rpx;
        position: relative;
        align-items: center;
        justify-content: center;
        font-size: 36rpx;
        &::after {
            display: block;
            content: ' ';
            border-bottom: @itv-border-color-base solid 1px;
            bottom: 0;
            position: absolute;
            left: 0; right: 0;
            transform:scaleY(0.5);
        }
    }
    .btn {
        position: absolute;
        padding: 0 30rpx;
        height: 100rpx;
        display: flex;
        align-items: center;
        font-size: 32rpx;
        &.btn-cancel {
            color: @itv-color-text-gray;
            left: 0;
            right: 0;
        }
        &.btn-confirm {
            right: 0;
            top: 0;
            color: @itv-primary-color;
        }
    }
    .itv-datepicker-content {
        height: 400rpx;
        display: flex;
        .picker{
            overflow: hidden;
        }
        
    }
    .itv-picker-mask{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: linear-gradient(180deg,hsla(0,0%,100%,.8),hsla(0,0%,100%,.3)),linear-gradient(0deg,hsla(0,0%,100%,.8),hsla(0,0%,100%,.3));
        background-position: top, bottom;
       
        background-repeat: no-repeat;
        z-index: 3;
        &.itv-picker-row5{
            background-size: 100% 88ipx;
        }
        &.itv-picker-row7{
            background-size: 100% 132ipx;
        }
        // &.clear-mask {
        //     background-image: none;
        // }
    }
}
